* {
    box-sizing: border-box;
  }

  code {
    /* font-size: 1.2em; */
  }
  
  .listReducerUl {
    padding-inline-start: 20px;
  }
  
  button {
    /* margin: 5px; */
  }
  .listReducerList{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
