.aboutWrapper{
    padding: 1em 1em;
    margin: 1em auto;
    background-color: rgba(163, 163, 163, 0.3);
    /* display:flex; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* width: 80%; */
    margin: 0 auto;
    font-size: medium;
}
.panelWrapper{
    padding-top: 0.5em;
}
.panelShowMoreButton{
    font-size: medium;
}
.aboutParagraph{
    text-align: center;
}