.clockWrapper{
    display: block;
    text-align: center;
    /* font-weight: bold; */
    text-shadow: 1px 5px 12px #bd0202f2;
    margin: 0.5em auto;
    font-family: 'Major Mono Display', monospace, 'Courier New', Courier;
    color: #532727f2;
}
.nixie{
    font-size: 5em;
}
.nixieWrapper{
    display: flex;
    /* height: 25vh; */
    height: 16em;
    /* width: 250px; */
    justify-content: space-evenly;
    margin: 0 auto;
    background-color: #3f3f3fd9;
    background-position: center;
    background-repeat: repeat;
    /* background-image: url('/src/assets/images/derek-thomson-NqJYQ3m_rVA-unsplash.jpg'); */
    background-image: linear-gradient(to right, rgb(231 228 227 / 70%),rgb(63 63 63 / 85%));
    color: #f16340b3;
}
.digit1, .digit2{
    /* left:20%;
    position: absolute; */
    width: 7em;
    height: 80%;
    display: flex;
    align-items: center;
    box-shadow: inset 0px -1px 11px 7px #4ee5f761;
    border-radius: 25px;
    justify-content: center;
    align-self: center;
}

.digit{
    text-align: center;
    position: absolute;
    font-family: 'Major Mono Display', monospace, 'Courier New', Courier;
    font-size: 10em;
    
    /* line-height: 1.4; */
    opacity: 0.2;
    
}
.digitActive{
    opacity: 1;
    color: hsla(0, 85%, 44%, 0.949);
    transform: scale(1.02);
    text-shadow: 0px -2px 4px #e70d0d;
    font-weight: 600;
    translate: -3px 3px;
    filter: drop-shadow(2px 4px 6px black);
}
.digitZActive2{
    opacity: 1;
    color: hsla(23, 79%, 52%, 0.63);
    /* transform: scale(1.02); */
    /* text-shadow: 1px 1px 20px #e70d0d; */
}
.digitNull{
    display: none;
}