.searchWrapper{
    padding: 1em 1em;
    margin: 1em auto;
    background-color: rgba(163, 163, 163, 0.3);
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
form{
    
    display: flex;
    width: 60%;
}
.inputBar{
    width: 100%;
}
.testParagraph{
    flex: 100%;
    text-align: center;
    font-size: 9px;
    font-style: italic;
}
.searchResult{
    text-align: center;
    font-weight: 600;
    padding: 2em 2em;
}